/* @font-face {
    font-family: sofiapro-regular;
    src: local(sofiapro-regular), url("./fonts/sofiapro-regular.otf") format('truetype');
  } */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.sendButton {
  padding: 9px 30px;
  position: absolute;
  width: 155px;
  height: 40px;
  left: calc(50% - 155px / 2);
  top: 450px;
  background: #2b8fff;
  box-shadow: 0px 1px 4px rgba(51, 51, 51, 0.25);
  border-radius: 20px;
  font-family: sofiapro-regular;
  font-style: normal;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
  margin: 0px 10px;
  font-weight: normal;
  border: #2b8fff;
}

.declare {
  font-family: sofiapro-regular;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  text-align: left;
  color: #00406b;
  position: relative;
  top: 110px;
  right: 82px;
}
.form-check-label {
  font-family: sofiapro-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: #00406b;
  position: relative;
  width: 270px;
  top: 125px;
  text-align: left;
}

.arrow {
  margin-top: 26px;
  margin-bottom: 1rem;
  position: absolute;
  margin-left: 26px;
  cursor: pointer;
  color: #00406b;
}
