.box {
  justify-content: center;
  align-content: center;
  display: flex;
}

.nav-buttons {
  font-family: sofiapro-regular;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #333333;
  border-radius: 100px;
  margin: 5px;
  width: 264px;
  height: 79px;
  background: #fcfdff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.btn_text{
  width: 112px;
  text-align: left;
  font-size: 15px;
  position: relative;
  left: 60px;
  top: -30px;
}

.btn_img{
  position: relative;
  left: -95px;
  top: 5px;
}
.navlogo {
  margin: 5px;
}

.home-body{
  position: relative;
  top: 100px;
}

.home-header{
  top: 99px;
  right: 60px;
  text-align: left;
  position: relative;
}

.p-home{
  color:#00406B;
  font-weight: 500;
}

.forms {
  border: none;
  border-bottom: 1px solid #62758b;
  font-family: sofiapro-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  margin-top: 40px;
  color: #a4a8ac;
  width: 300px;
}

.home-headline {
  font-family: sofiapro-regular;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  text-align: left;
  color: #00406B;
}


.ellipse{
  position: absolute;
  left: -95px;
  top: 5px;
}