.signup-forms{
    position: relative;
    top: 100px;
}
.sign-up-showPassword{
    border: none;
    background: none;
    color: #2b8fff;
    width: 135px;
    font-size: small;
    position: fixed;
    left: 58%;
    top: 43.5%
}