

.dateFill {
  position: absolute;
  width: 162px;
  height: 16px;
  left: calc(50% - 170px / 2 + 11.5px);
  top: 59px;
  font-family: sofiapro-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 120%;
  text-align: center;
  color: #00406b;
}
.contentPage {
  position: relative;
  width: 100px;
  height: 183px;
  left: 42px;
  top: 52px;
}

li {
  font-family: sofiapro-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  color: #000000;
  text-align: left;
}

.arrow {
  margin-top: 26px;
  margin-bottom: 1rem;
  position: absolute;
  margin-left: 26px;
  cursor: pointer;
  color: #00406b;
}
